<label>Server Name</label>
<!-- <input 
type="text" 
class="form-control" 
(input)="onUpdateServerName($event)"> -->
<input
type="text"
class="form-control"
[(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- [disabled] is html property, disables the button. allowNewServer = False in beginning so !allowNewServer = True. 
until 2000 seconds, as our setTimeOut() is set in the server.component.ts -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{serverName }}</p>

<input
type="text"
class="form-control"
[(ngModel)]="userName">
<p>{{ userName }}</p>

<button
class="btn btn-primary"
[disabled]="checkUserName()"
(click)="onResetUserName()">Reset User</button>
<app-server *ngFor="let server of servers"></app-server>